<ul class='list-inline text-center'>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= "#{restaurant.name}  --- #{restaurant.description}" %>
      <%= link_to "More details", restaurant_path(restaurant)  %>
      <% if policy(restaurant).edit? %>
        <%= link_to "Update", edit_restaurant_path(restaurant) %>
      <% end %>

      <% if policy(restaurant).destroy? %>
        <%= link_to "Delete", restaurant_path(restaurant), method: :delete, data: {confirm: 'Are you sure?'} %>
      <% end %>
    </li>
  <% end  %>
</ul>



<%= link_to "Add a new Restaurant", new_restaurant_path %>
<%= link_to "3 stars Restaurants", top_restaurants_path %>
